
<app-adminheader></app-adminheader>
<div class="container-fluid w-100">
    <h2 class="text-center text-secondary pb-4" style="font-size:40px;font-family:  Geneva, Verdana, sans-serif;">What Do You Want To See ??</h2><br>
    <div class="row">
        <div class="col-md-6">
            <div class="content"> <a href="userlist">
                    <div class="content-overlay"></div> <img class="content-image" src="https://images.unsplash.com/photo-1586267633144-3e2340b1ec2f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Users List</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i></p>
                    </div>
                </a> </div>
        </div>


        <div class="col-md-6">
            <div class="content"> <a href="liblist">
                    <div class="content-overlay"></div> <img class="content-image" src="https://images.unsplash.com/photo-1522211988038-6fcbb8c12c7e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjV8fGxpYnJhcnl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Librarian List</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> </p>
                    </div>
                </a> </div>
        </div>
        
    </div>
</div>

