
    <div id="container">
        <div id="part1">
            <div id="companyinfo"> <a id="sitelink" href="home">R-Books</a>
                <p id="title">Cool and Perfect Books</p>
                <p id="detail">We create awesome renting books that will help you in creating your own beautiful site. </p>
            </div>
            <div id="explore">
                <p id="txt1">Explore</p> <a class="link" href="home">Home</a> <a class="link" href="#">About Us</a> <a class="link" href="#">Login</a> <a class="link" href="#">Rented Books</a>
            </div>
            <div id="visit">
                <p id="txt2">Visit</p>
                <p class="text">Champ de Mars </p>
                <p class="text">5 Avenue Anatole France</p>
                <p class="text">75007 Paris </p>
                <p class="text"> France </p>
                <p class="text">Phone: 9999999999 </p>
            </div>
            <div id="legal">
                <p id="txt3">Legal</p> <a class="link1" href="#">Terms and Conditions</a> <a class="link1" href="#">Private Policy</a>
            </div>
            <div id="subscribe">
                <p id="txt4">Subscribe to US</p>
                <form> <input id="email" type="email" placeholder="Email"> </form> <a class="waves-effect waves-light btn">Subscribe</a>
                <p id="txt5">Connect With US</p> <i class="fab fa-facebook-square social fa-2x"></i> <i class="fab fa-linkedin social fa-2x"></i> <i class="fab fa-twitter-square social fa-2x"></i>
            </div>
        </div>
        <div id="part2">
            <p id="txt6" class="text-center"><i class="material-icons tiny "></i>Copyright 2021 R-books - All right reserved</p>
        </div>
    </div>
