<!-- Top menu -->
<nav class="navbar navbar-dark bg-dark  fixed-top navbar-expand-md navbar-no-bg bm-5" >
  <div class="container">
      <a class="navbar-brand" href="home">R-Books</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link scroll-link" href="home">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link scroll-link" href="selectlogin">Select login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link scroll-link" href="aboutus">About Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link scroll-link" href="contactus">Contact Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link scroll-link" href="faq">FAQ</a>
              </li>
              <!-- <li class="nav-item">
                  <a class="nav-link scroll-link" href="selectlogin">select</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link scroll-link" href="forget">Forget</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link scroll-link" href="adminhome">adminhome</a>
              </li>
              -->
          </ul>
      </div>
  </div>
</nav>
