<app-librarianheader></app-librarianheader>
<h3 class="text-center" style="padding-top: 170px"> View Books Details</h3>
<div class="text-center"> 
    <div>
        <label> <b> Book Name: </b></label> {{books.bookname}}
    </div>
    <div>
        <label> <b> Author Name: </b></label> {{books.authorName}}
    </div>
    <div>
        <label> <b>Book Rent: </b></label> {{books.bookRent}}
    </div>
    <div>
        <label> <b>Book Price: </b></label> {{books.bookPrice}}
    </div>
    <div>
        <label> <b>Book Edition: </b></label> {{books.edition}}
    </div>
    <div>
        <label> <b>Book Description: </b></label> {{books.description}}
    </div>

    <div>
       <button class="btn btn-lg btn-outline-warning" (click)="backHome()">Back To Home</button>
    </div>


</div>