<app-userheader></app-userheader>>


<div class="container mt-5 " >
    <h2 style="font-family:sans-serif;background: rgb(199, 202, 207);text-align: center;margin-top: 70px;">Horror Books</h2>
    <div class="row mt-5">
        <div class="col-md-3 d-flex flex-row">
            <div class="products-top">
                <img src="assets/books/dracula.jpg" alt="ayurvedic" style="height: 250px;width:200px;" >
               <div class="product-bottom " style="margin-left: 70px;color: gold;">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStarHalfAlt"></fa-icon>

               </div>
               <h3 class="text-center">Dracula</h3>
               <h5 style="margin-left: 70px;padding-bottom: 35px;">$300.00</h5>
               <button class="btn btn-dark ml-5">Add to cart</button>
            </div>

            <div class="products-top" style="margin-left: 60px;">
                <img src="assets/books/everybreadth.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
               <div class="product-bottom " style="margin-left: 70px;color: gold;">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStarHalfAlt"></fa-icon>
                <fa-icon [icon]="faStarHalfAlt"></fa-icon>

               </div>
               <h3 class="text-center">Every Breath You Take</h3>
               <h5 style="margin-left: 70px;">$150.00</h5>
               <button class="btn btn-dark ml-5">Add to cart</button>
            </div>


            <div class="products-top" style="margin-left: 60px;">
                <img src="assets/books/harrypotter1.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
               <div class="product-bottom " style="margin-left: 70px;color: gold;">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStarHalfAlt"></fa-icon>

               </div>
               <h3 class="text-center">Harry Potter</h3>
               <h5 style="margin-left: 70px;padding-bottom: 35px;">$250.00</h5>
               <button class="btn btn-dark ml-5">Add to cart</button>

               
            </div>

            <div class="products-top" style="margin-left: 60px;">
                <img src="assets/books/helittleprince.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
               <div class="product-bottom " style="margin-left: 70px;color: gold;">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStarHalfAlt"></fa-icon>

               </div>
               <h3 class="text-center">The Little Prince</h3>
               <h5 style="margin-left: 70px;padding-bottom: 35px;">$400.00</h5>
               <button class="btn btn-dark ml-5">Add to cart</button>
        </div>
    </div>
</div>


<hr>
<h2 class=" mt-5" style="font-family:sans-serif;background: rgb(201, 205, 211);text-align: center;">Famous Books</h2>
<div class="row mt-5">
    <div class="col-md-3 d-flex flex-row">
        <div class="products-top">
            <img src="assets/books/imemchine.jpg" alt="ayurvedic" style="height: 250px;width:200px;" >
           <div class="product-bottom " style="margin-left: 70px;color: gold;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3 class="text-center">The Time Machine</h3>
           <h5 style="margin-left: 70px;">$300.00</h5>
           <button class="btn btn-dark ml-5">Add to cart</button>
        </div>

        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/books/jaws.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;color: gold;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3 class="text-center">Jaws</h3>
           <h5 style="margin-left: 70px;padding-bottom: 35px;">$150.00</h5>
           <button class="btn btn-dark ml-5">Add to cart</button>
        </div>


        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/books/littlewomen.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;color: gold;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3 class="text-center">Little Women</h3>
           <h5 style="margin-left: 70px;padding-bottom: 35px;">$250.00</h5>
           <button class="btn btn-dark ml-5">Add to cart</button>

           
        </div>

        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/books/thegreatgatsby.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;color: gold;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3 class="text-center">The Great GatsBy</h3>
           <h5 style="margin-left: 70px;padding-bottom: 35px;">$400.00</h5>
           <button class="btn btn-dark ml-5">Add to cart</button>
    </div>
</div>
</div>

<hr>
<h2 class="mt-5" style="font-family:sans-serif;background: rgb(191, 194, 201);text-align: center;">Addictive Books</h2>
<div class="row mt-5">
    <div class="col-md-3 d-flex flex-row">
        <div class="products-top">
            <img src="assets/books/thehobbit.jpg" alt="ayurvedic" style="height: 250px;width:200px;" >
           <div class="product-bottom " style="margin-left: 70px;color: gold;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3 class="text-center">The Hobbit</h3>
           <h5 style="margin-left: 70px;padding-bottom: 35px;">$180.00</h5>
           <button class="btn btn-dark ml-5">Add to cart</button>
        </div>

        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/books/thelion.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;color: gold;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>

           </div>
           <h4 class="text-center">The Lion The Witch & The Wardrobe</h4>
           <h5 style="margin-left: 70px;padding-bottom: 12px;">$100.00</h5>
           <button class="btn btn-dark ml-5">Add to cart</button>
        </div>


        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/books/theroad.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;color: gold;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3 class="text-center">The Road </h3>
           <h5 style="margin-left: 70px;padding-bottom: 35px;">$120.00</h5>
           <button class="btn btn-dark ml-5">Add to cart</button>

           
        </div>

        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/books/tokill.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;color: gold;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3 class="text-center">To Kill A Mocking Bird</h3>
           <h5 style="margin-left: 70px;">$80.00</h5>
           <button class="btn btn-dark ml-5">Add to cart</button>
    </div>
</div>
</div>


<hr>
<div class="row mt-5">
    <div class="col-md-3 d-flex flex-row">
        <div class="products-top">
            <img src="assets/books/intotheplanet.jpg" alt="ayurvedic" style="height: 250px;width:200px;" >
           <div class="product-bottom " style="margin-left: 70px;color: gold;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>

           </div>
           <h3 class="text-center">Into The Planet</h3>
           <h5 style="margin-left: 70px;padding-bottom: 35px;">$60.00</h5>
           <button class="btn btn-dark ml-5" >Add to cart</button>
        </div>

        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/books/seawife.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;color: gold;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3 class="text-center">Seawife</h3>
           <h5 style="margin-left: 70px;padding-bottom: 35px;">$210.00</h5>
           <button class="btn btn-dark ml-5">Add to cart</button>
        </div>


        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/books/theteaspoon.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;color: gold;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3 class="text-center">A Teaspoon Of Earth & Sea</h3>
           <h5 style="margin-left: 70px;">$160.00</h5>
           <button class="btn btn-dark ml-5">Add to cart</button>

           
        </div>

        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/books/thedragonflysea.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;color: gold;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3 class="text-center ">The Dragonfly Sea</h3>
           <h5 style="margin-left: 70px;">$270.00</h5>
           <button class="btn btn-dark ml-5 mb-5">Add to cart</button>
    </div>


</div>
</div>
</div>
<app-footer></app-footer>