
<app-librarianheader></app-librarianheader>
<div class="container-fluid w-100">
    <h2 class="text-center text-secondary pb-4" style="font-size:40px;font-family:  Geneva, Verdana, sans-serif;"><u>What Do You Want To See ???</u></h2>
    <div class="row">
        <div class="col-md-6">
            <div class="content"> <a href="addbooks">
                    <div class="content-overlay"></div> <img class="content-image" src="https://images.unsplash.com/photo-1470305585628-a7d2cb18efa2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Add Books</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i></p>
                    </div>
                </a> </div>
        </div>


        <div class="col-md-6">
            <div class="content"> <a href="booklist">
                    <div class="content-overlay"></div> <img class="content-image" src="https://images.unsplash.com/photo-1481238953635-527ec75022ba?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=728&q=80">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Display Books</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> </p>
                    </div>
                </a> </div>
        </div>
        
    </div>
</div>

