
<app-header></app-header>

      <div class="move">
        <div class=" row">
          <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12" id="ustoreBanner">
          </div>


          <input name="7404378" type="hidden" value="{ id = Text_Id }" />
          <div Class="clear"></div>
        </div>


        <div>
          <div id="ContainDiv" class="contain container clear">


            <div id="contentSection" Class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

              <h1 style="font-weight: bold; text-align: center;">Frequently Asked Questions</h1>
              
              <h3 style="font-weight: bold;">
                <a name="onlineorder"></a>Online Order FAQs
              </h3>
              <div style="font-weight: bold;">
                1. What is an online order?
              </div>
              An Online Order is a textbook or merchandise order
              placed through our UStore website.
              <div style="font-weight: bold;">
                2. Why should I place an online order?
              </div>
              Ordering online provides the customer with the luxury
              of selecting clothing, other merchandise and textbooks
              from the comfort of your own home or whereever you are when you visit our site. During the semester,
              ordering
              your textbooks online through
              gives you the most
              updated materials required at the most reasonable price. We
              even provide you with the prices of our competitors so you can decide for yourself. Not to mention
              online
              ordering guarantees you the materials you need before the books even hit the shelf.

              <div style="font-weight: bold;">
                3. How do I place an online order?
              </div>
              To place an online order go to and click on the tab on
              the left that says “LOG IN.” If you have not yet created
              a profile, select “REGISTER HERE” and fill out the necessary information or continue shopping as a
              Guest.
              If you do have a profile, please log in and begin shopping!

              <div style="font-weight: bold;">
                4. What is an Order Number?
              </div>
              The ORDER NUMBER is the confirmation number that is
              given when placing an order. It is also contained in the
              subject of the confirmation email received when the order has been successfully placed. The ORDER NUMBER
              is a six digit number that you will need to pick up or gain information about your order. If you do not
              receive
              an email with a confirmation / order number then the order has not been successfully placed. (NOTE: BE
              SURE
              TO CHECK YOUR SPAM WHEN LOOKING FOR YOUR CONFIRMATION EMAIL).
              <div style="font-weight: bold;">
                5. Is the cost the same as buying a book in the
                University Store?
              </div>
              Yes the price stays the same whether you order online
              or come in and buy an item.
              <div style="font-weight: bold;">
                6. If I place an order online can I have it shipped to
                me? How much is it to ship an order? Once my order
                is processed how long will it take to ship?
              </div>
              Yes, we ship via USPS or UPS. Shipping is currently a
              flat-rate of $7.99 for most orders. Delivery times vary
              based on carrier and location.
              <div style="font-weight: bold;">
                7. Can I place an order online and come pick it up?
                Where do I pick it up?
              </div>
              Yes, we do have a PICK UP AT STORE option. The PICK
              UP AT STORE option is located in STEP 3 (DELIVERY METHODS)
              of the checkout process. Please visit the UStore to claim your order once you receive confirmation that
              it's
              ready.

              <div style="font-weight: bold;">
                8. How long does an order take to process?
              </div>
              We strive to place orders in a timely fashion. During
              busy times, like the beginning of a semester or around
              holidays, additional processing time is to be expected.
              <div style="font-weight: bold;">
                9. When picking up an online order, what information do
                I need?
              </div>
              A PHOTO ID and your ORDER NUMBER are required to
              pick up your online order.
              <div style="font-weight: bold;">
                10. I placed an order online and have not received an
                update to the status of my order. What do I do?
              </div>
              Log in to the UStore website and select the option
              “TRACK ORDER” to check the status. If there are any other
              issues with tracking the order please contact us at.